#debug {
    border: 5px solid red ;
}
/* logo */
#intro {
    padding: 80px;
    border: 2px solid #2D2D2D;
    margin: 1px 0px;
    text-align: center;
}

#intro h1 {
    margin: 0 auto;
    background: #2D2D2D;
    color: white;
    padding: 20px;
    display: inline-block;
}

#logo {
    width: 75px;
}

/* side logo */
#side_logo {
    height: 100%;
}

#skills li{
    border: none;
}

footer {
    background: #ddd;
    padding: 20px;
    margin: 20px 0px 5px 0px;
}

#pdf_holder {
    padding-bottom: 100%;
}

#download_button {
    color: #F7F7F7; 
    background: #2D2D2D;
}

#side_link {
    background:#2D2D2D; 
    color:white;
}

#side_active {
    background: #DCDCDC;
}

#open a {
    color: black;
}   

#end_comment {
    text-align: left; 
    white-space: pre-line;
}

#proj_img {
    max-width: 70%; 
    margin: 0 auto;
}


/* Top button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #2D2D2D; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 9px 20px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #949494; /* Add a dark-grey background on hover */
}

iframe {
    display: block;
    max-width: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

hr{
    padding: 0%;
    margin: 0%;    
  }


/* side navbar */
/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

#tocli {
    margin: 0; padding: 0;
}

#sub_head {
    margin: 2px 0px;
    padding: 30px;
    border: 2px solid #2D2D2D;
}

#code {
    font-family: monospace;
}

#text_link {
    color: black;
}