<!-- side navigation -->
<div id="MainMenu" style="width: 100%">
    <div class="list-group list-group-flush" id="sidenav">
        <a href="/projects/real-time-laundry.html" class="list-group-item three" id="side_link">Real Time Laundry</a>
        <div class="collapse" id="">
            <a href="real_time_laundry.html" class="list-group-item">Description</a>
            <a href="rtl_proposal.html" class="list-group-item">Proposal</a>
            <a href="rtl_presentation.html" class="list-group-item">Presentation</a>
            <a href="rtl_documentations.html" class="list-group-item">Documentations</a>
        </div>
        <a href="/projects/exploration-robot/" class="list-group-item" id="side_link">Exploration Robot</a>
        <div class="collapse" id="">
            <a href="exploration_robot.html" class="list-group-item">Description</a>
            <a href="er_presentation.html" class="list-group-item">Presentation</a>
            <a href="er_documentations.html" class="list-group-item">Documentations</a>
            <a href="er_videos.html" class="list-group-item">Videos</a>
        </div>
        <a href="/projects/smart-picture-frame/" class="list-group-item" id="side_link">Smart Picture Frame</a>
        <div id="side_nav_smart_picture_frame">
            <div class="collapse" id="">
                <a href="/projects/smart-picture-frame/" class="list-group-item des">Description</a>
                <a href="/projects/smart-picture-frame/set-up/" class="list-group-item setup">Set-up</a>
                <a href="/projects/smart-picture-frame/documentation/" class="list-group-item doc">Documentation</a>
            </div>
        </div>
        <a href="/projects/smart-vanity/" class="list-group-item" id="side_link">Smart Vanity</a>
        <div id="side_nav_smart_vanity">
            <div class="collapse" id="">
                <a href="/projects/smart-vanity/" class="list-group-item des">Description</a>
                <a href="sv_documentation.html" class="list-group-item">Documentation</a>
            </div>
        </div>
    </div>
</div>