<!-- side navigation -->
<div id="MainMenu" style="width: 100%">
    <div class="list-group list-group-flush" id="sidenav">
        <a href="real_time_laundry.html" class="list-group-item three" id="side_link">Real Time Laundry</a>
        <div class="collapse" id="">
            <a href="real_time_laundry.html" class="list-group-item">Description</a>
            <a href="rtl_proposal.html" class="list-group-item">Proposal</a>
            <a href="rtl_presentation.html" class="list-group-item">Presentation</a>
            <a href="rtl_documentations.html" class="list-group-item">Documentations</a>
        </div>
        <a href="exploration_robot.html" class="list-group-item" id="side_link">Exploration Robot</a>
        <div class="collapse" id="">
            <a href="exploration_robot.html" class="list-group-item">Description</a>
            <a href="er_presentation.html" class="list-group-item">Presentation</a>
            <a href="er_documentations.html" class="list-group-item">Documentations</a>
            <a href="er_videos.html" class="list-group-item">Videos</a>
        </div>
        <a href="smart_picture_frame.html" class="list-group-item" id="side_link">Smart Picture Frame</a>
        <div class="collapse" id="">
            <a href="smart_picture_frame.html" class="list-group-item">Description</a>
            <a href="spf_setup.html" class="list-group-item">Set Up</a>
            <a href="spf_presentation.html" class="list-group-item">Presentation</a>
        </div>
        <a href="smart_vanity.html" class="list-group-item" id="side_link">Smart Vanity</a>
        <div id="smart_vanity_menu">
            <div class="collapse" id="">
                <a href="smart_vanity.html" class="list-group-item des">Description</a>
                <a href="sv_documentation.html" class="list-group-item">Documentation</a>
            </div>
        </div>
    </div>
</div>